{% extends 'school/adminbase.html' %}



{% block content %}

<head>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>

</head>


<!--
      written By : Anurag Vashist
      -->


<div class="container">

  <div class="row">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title">Attendance</h6>

      </div>

      <table class="table table-hover" id="dev-table">
        <thead>

          <tr>
            <th>Course Name</th>
            <th>Take Attendance</th>
            <th>View Attendance</th>
          </tr>
        </thead>

        <tr>
          <td>MCA</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'MCA'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'MCA'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td>MSC(Comuter Science)</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'MSC(Comuter Science)'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'MSC(Comuter Science)'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td>M.A(English)</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'M.A(English)'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'M.A(English)'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td>M.A(Hindi)</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'M.A(Hindi)'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'M.A(Hindi)'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td>M.A(History)</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'M.A(History)'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'M.A(History)'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td>M.A(Psychology)</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'M.A(Psychology)'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'M.A(Psychology)'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td>M.A(Sociology)</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'M.A(Sociology)'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'M.A(Sociology)'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td>M.Com</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'M.Com'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'M.Com'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td>MBA</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'MBA'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'MBA'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

        <tr>
          <td>M.Lib</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'admin-take-attendance' 'M.Lib'  %}"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'admin-view-attendance' 'M.Lib'  %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>

      </table>
    </div>


  </div>
</div>


<!--
      written By : Anurag Vashist
      -->


{% endblock content %}
